<% provide(:title, "About") %>
<h1>About Us</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
  tempor incididunt ut labore et dolore magna aliqua. In hac habitasse 
  platea dictumst vestibulum rhoncus. Malesuada nunc vel risus commodo viverra. 
  Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Faucibus 
  turpis in eu mi bibendum neque egestas congue quisque. In fermentum et 
  sollicitudin ac orci. Non nisi est sit amet facilisis magna etiam tempor orci. 
  Amet nisl suscipit adipiscing bibendum est ultricies integer. Amet purus 
  gravida quis blandit. Justo eget magna fermentum iaculis eu. Gravida rutrum 
  quisque non tellus orci ac. Lobortis scelerisque fermentum dui faucibus. 
  Ligula ullamcorper malesuada proin libero nunc consequat interdum. Non 
  curabitur gravida arcu ac tortor dignissim.
</p>