<% if @categories.any? %>
  <div class="container">
    <h1 class="mt-5 mb-4">Blog Posts</h1>
    <% @categories.each do |category| %>
      <div class="card mb-3">
        <div class="card-header">
          <h2 class="card-title"><%= category.name %></h2>
        </div>
        <div class="card-body">
          <% category.subcategories.each do |subcategory| %>
            <h3 class="card-text"><%= subcategory.name %></h3>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="container">
    <p class="mt-5">No categories found.</p>
  </div>
<% end %>
