<div class="container mt-5">
  <h1 class="mb-4"><%= @user.full_name %></h1>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>Company CODE:</strong> <%= @user.company_code %></p>
</div>
