/* miscellaneous */
.debug_dump {
    clear: both;
    margin: auto;
    margin-bottom: 24px;
    text-align: center;
    }


// Define custom colors with descriptive names
$custom-colors: (
  "dark-purple": #400792,
  "vivid-purple": #6609EB,
  "bright-purple": #8328FB,
  "light-purple": #984EFA,
  "pale-purple": #BA8AFA,
  "lavender": #D67FFF,
  "medium-purple": #C44BFF,
  "neon-purple": #B10CFF,
  "deep-purple": #8C00CC,
  "royal-purple": #660099
);

// Generate custom color classes
@each $name, $color in $custom-colors {
  .text-#{$name} {
    color: $color !important;
  }

  .bg-#{$name} {
    background-color: $color !important;
  }

  .border-#{$name} {
    border-color: $color !important;
  }
}

/* ============================================= */
/* Navbar Toggler Icon Styling */
/* ============================================= */

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* ============================================= */
/* Footer */
/* ============================================= */
.about-container {
    margin-top: 20px;
    padding: 5px;
  }



/* ============================================= */
/* Footer */
/* ============================================= */
.footer-logo {
    margin-bottom: 0px;
    padding: 5px;
  }

.reduce-space {
    margin-top: -10px;
}

.footer-logo {
    margin-bottom: 10px;
    padding: 5px; 
}